<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.manager.dao.BankStrategyDao">
    <!-- 属性映射 -->
    <resultMap id="dataMap" type="com.xn.manager.model.BankStrategyModel" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="bank_id" property="bankId" jdbcType="BIGINT" />
        <result column="alias" property="alias" jdbcType="VARCHAR" />
        <result column="priority" property="priority" jdbcType="INTEGER" />
        <result column="open_time_slot" property="openTimeSlot" jdbcType="VARCHAR" />
        <result column="wx_in_day_money" property="wxInDayMoney" jdbcType="VARCHAR" />
        <result column="wx_in_month_money" property="wxInMonthMoney" jdbcType="VARCHAR" />
        <result column="wx_in_day_num" property="wxInDayNum" jdbcType="INTEGER" />
        <result column="zfb_in_day_money" property="zfbInDayMoney" jdbcType="VARCHAR" />
        <result column="zfb_in_month_money" property="zfbInMonthMoney" jdbcType="VARCHAR" />
        <result column="zfb_in_day_num" property="zfbInDayNum" jdbcType="INTEGER" />
        <result column="card_in_day_money" property="cardInDayMoney" jdbcType="VARCHAR" />
        <result column="card_in_month_money" property="cardInMonthMoney" jdbcType="VARCHAR" />
        <result column="card_in_day_num" property="cardInDayNum" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="use_status" property="useStatus" jdbcType="BIT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="ts_time" property="tsTime" jdbcType="TIMESTAMP" />
        <result column="yn" property="yn" jdbcType="BIT" />
        <result column="account_id" property="accountId" jdbcType="VARCHAR" />
        <result column="bank_card" property="bankCard" jdbcType="VARCHAR" />
        <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
        <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    </resultMap>
    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
         a.id, a.bank_id, a.alias, a.priority, a.open_time_slot, a.wx_in_day_money, a.wx_in_month_money,
         a.wx_in_day_num, a.zfb_in_day_money, a.zfb_in_month_money, a.zfb_in_day_num, a.card_in_day_money,
         a.card_in_month_money, a.card_in_day_num, a.remark, a.use_status, a.create_time, a.update_time,
         a.ts_time, a.yn,b.account_id,b.bank_card,b.account_name,b.bank_name
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            <if test="bankCard != null and bankCard != '' " >
                and b.bank_card = #{bankCard}
            </if>
            <if test="bankName != null and bankName != '' " >
                and b.bank_name = #{bankName}
            </if>
            <if test="accountName != null and accountName != '' " >
                and b.account_name = #{accountName}
            </if>
            <if test="alias != null and alias != '' " >
                and a.alias = #{alias}
            </if>
            <if test="priority != 0 and priority >0 " >
                and a.priority = #{priority}
            </if>
            <if test="useStatus != 0 and useStatus >0 " >
                and a.use_status = #{useStatus}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_fr_bank_strategy a  left join tb_fr_bank b on a.bank_id = b.id
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_bank_strategy a  left join tb_fr_bank b on a.bank_id = b.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 查询列表-无分页-有条件/有条件 -->
    <select id="queryAllList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_bank_strategy a left join tb_fr_bank b on a.bank_id = b.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
    </select>

    <!-- 根据id查询记录 -->
    <select id="queryById"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_bank_strategy a left join tb_fr_bank b on a.bank_id = b.id
        <include refid="Example_Where_Clause_id"/>
    </select>

    <!-- 根据条件查询记录 -->
    <select id="queryByCondition"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_bank_strategy a left join tb_fr_bank b on a.bank_id = b.id
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>


    <select id="queryMaxupdateTime"  resultMap="dataMap" parameterType="Object">
        select
          max(update_time) update_time ,a.zfb_in_day_money, a.zfb_in_month_money, a.zfb_in_day_num, a.card_in_day_money,
        a.card_in_month_money, a.card_in_day_num,a.open_time_slot
        from tb_fr_bank_strategy a
        group  by a.zfb_in_day_money, a.zfb_in_month_money, a.zfb_in_day_num, a.card_in_day_money,
        a.card_in_month_money, a.card_in_day_num,a.open_time_slot
    </select>

    <!-- 添加记录 -->
    <insert id="add" parameterType="Object" >
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into tb_fr_bank_strategy
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="bankId != null" >
                bank_id,
            </if>
            <if test="alias != null" >
                alias,
            </if>
            <if test="priority != null" >
                priority,
            </if>
            <if test="openTimeSlot != null" >
                open_time_slot,
            </if>
            <if test="wxInDayMoney != null" >
                wx_in_day_money,
            </if>
            <if test="wxInMonthMoney != null" >
                wx_in_month_money,
            </if>
            <if test="wxInDayNum != null" >
                wx_in_day_num,
            </if>
            <if test="zfbInDayMoney != null" >
                zfb_in_day_money,
            </if>
            <if test="zfbInMonthMoney != null" >
                zfb_in_month_money,
            </if>
            <if test="zfbInDayNum != null" >
                zfb_in_day_num,
            </if>
            <if test="cardInDayMoney != null" >
                card_in_day_money,
            </if>
            <if test="cardInMonthMoney != null" >
                card_in_month_money,
            </if>
            <if test="cardInDayNum != null" >
                card_in_day_num,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="useStatus != null" >
                use_status,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="bankId != null" >
                #{bankId,jdbcType=BIGINT},
            </if>
            <if test="alias != null" >
                #{alias,jdbcType=VARCHAR},
            </if>
            <if test="priority != null" >
                #{priority,jdbcType=INTEGER},
            </if>
            <if test="openTimeSlot != null" >
                #{openTimeSlot,jdbcType=VARCHAR},
            </if>
            <if test="wxInDayMoney != null" >
                #{wxInDayMoney,jdbcType=VARCHAR},
            </if>
            <if test="wxInMonthMoney != null" >
                #{wxInMonthMoney,jdbcType=VARCHAR},
            </if>
            <if test="wxInDayNum != null" >
                #{wxInDayNum,jdbcType=INTEGER},
            </if>
            <if test="zfbInDayMoney != null" >
                #{zfbInDayMoney,jdbcType=VARCHAR},
            </if>
            <if test="zfbInMonthMoney != null" >
                #{zfbInMonthMoney,jdbcType=VARCHAR},
            </if>
            <if test="zfbInDayNum != null" >
                #{zfbInDayNum,jdbcType=INTEGER},
            </if>
            <if test="cardInDayMoney != null" >
                #{cardInDayMoney,jdbcType=VARCHAR},
            </if>
            <if test="cardInMonthMoney != null" >
                #{cardInMonthMoney,jdbcType=VARCHAR},
            </if>
            <if test="cardInDayNum != null" >
                #{cardInDayNum,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="useStatus != null" >
                #{useStatus,jdbcType=BIT},
            </if>
            <![CDATA[  NOW(), ]]>
        </trim>
    </insert>


    <!-- 更新记录 -->
    <update id="update" parameterType="Object">
        UPDATE tb_fr_bank_strategy a
        <trim prefix="set" suffixOverrides=",">
            <if test="bankId != null" >
                bank_id = #{bankId,jdbcType=BIGINT},
            </if>
            <if test="alias != null" >
                alias = #{alias,jdbcType=VARCHAR},
            </if>
            <if test="priority != null" >
                priority = #{priority,jdbcType=INTEGER},
            </if>
            <if test="openTimeSlot != null" >
                open_time_slot = #{openTimeSlot,jdbcType=VARCHAR},
            </if>
            <if test="wxInDayMoney != null" >
                wx_in_day_money = #{wxInDayMoney,jdbcType=VARCHAR},
            </if>
            <if test="wxInMonthMoney != null" >
                wx_in_month_money = #{wxInMonthMoney,jdbcType=VARCHAR},
            </if>
            <if test="wxInDayNum != null" >
                wx_in_day_num = #{wxInDayNum,jdbcType=INTEGER},
            </if>
            <if test="zfbInDayMoney != null" >
                zfb_in_day_money = #{zfbInDayMoney,jdbcType=VARCHAR},
            </if>
            <if test="zfbInMonthMoney != null" >
                zfb_in_month_money = #{zfbInMonthMoney,jdbcType=VARCHAR},
            </if>
            <if test="zfbInDayNum != null" >
                zfb_in_day_num = #{zfbInDayNum,jdbcType=INTEGER},
            </if>
            <if test="cardInDayMoney != null" >
                card_in_day_money = #{cardInDayMoney,jdbcType=VARCHAR},
            </if>
            <if test="cardInMonthMoney != null" >
                card_in_month_money = #{cardInMonthMoney,jdbcType=VARCHAR},
            </if>
            <if test="cardInDayNum != null" >
                card_in_day_num = #{cardInDayNum,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="useStatus != null" >
                use_status = #{useStatus,jdbcType=BIT},
            </if>
            a.update_time = NOW(),
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>


    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_fr_bank_strategy a
        <trim prefix="set" suffixOverrides=",">
            <if test="useStatus != 0 and useStatus >0 " >
                a.use_status=#{useStatus},
            </if>
            a.update_time=NOW()
        </trim>
       where  a.id=#{id}
    </update>

    <!--逻辑删除数据 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE tb_fr_bank_strategy a set a.yn = 1,
        a.update_time = now()
        where 1=1
        and a.id =#{id}
        and a.yn=0
    </update>

</mapper>