<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.manager.dao.BankDao">
    <!-- 属性映射 -->
    <resultMap id="dataMap" type="com.xn.manager.model.BankModel" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="alias" property="alias" jdbcType="VARCHAR" />
        <result column="mobile_card_id" property="mobileCardId" jdbcType="BIGINT" />
        <result column="bank_type_id" property="bankTypeId" jdbcType="BIGINT" />
        <result column="account_id" property="accountId" jdbcType="BIGINT" />
        <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
        <result column="bank_card" property="bankCard" jdbcType="VARCHAR" />
        <result column="subbranch_name" property="subbranchName" jdbcType="VARCHAR" />
        <result column="account_name" property="accountName" jdbcType="VARCHAR" />
        <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="sms_num" property="smsNum" jdbcType="VARCHAR" />
        <result column="last_num" property="lastNum" jdbcType="VARCHAR" />
        <result column="in_day_money" property="inDayMoney" jdbcType="VARCHAR" />
        <result column="in_month_money" property="inMonthMoney" jdbcType="VARCHAR" />
        <result column="out_day_money" property="outDayMoney" jdbcType="VARCHAR" />
        <result column="out_month_money" property="outMonthMoney" jdbcType="VARCHAR" />
        <result column="is_arrears" property="isArrears" jdbcType="BIT" />
        <result column="check_status" property="checkStatus" jdbcType="BIT" />
        <result column="data_explain" property="dataExplain" jdbcType="VARCHAR" />
        <result column="is_ok" property="isOk" jdbcType="BIT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="use_status" property="useStatus" jdbcType="BIT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="ts_time" property="tsTime" jdbcType="TIMESTAMP" />
        <result column="yn" property="yn" jdbcType="BIT" />
        <result column="phone_num" property="phoneNum" jdbcType="BIT" />
    </resultMap>
    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id, a.alias, a.mobile_card_id,  a.account_id,a.bank_type_id,  a.bank_name, a.bank_card, a.subbranch_name,
        a.account_name, a.bank_code, a.province, a.city, a.sms_num, a.last_num, a.in_day_money, a.in_month_money,
        a.out_day_money, a.out_month_money, a.is_arrears, a.check_status, a.data_explain, a.is_ok, a.remark,
        a.use_status, a.create_time, a.update_time, a.ts_time, a.yn, a.phone_num
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            <if test="bankCard != null and bankCard != '' " >
                and a.bank_card = #{bankCard}
            </if>
            <if test="alias != null and alias != '' " >
                and a.alias = #{alias}
            </if>
            <if test="phoneNum != null and phoneNum != '' " >
                and a.phone_num = #{phoneNum}
            </if>
            <if test="bankCard != null and bankCard != '' " >
                and a.bank_card = #{bankCard}
            </if>
            <if test="bankName != null and bankName != '' " >
                and a.bank_name = #{bankName}
            </if>
            <if test="accountName != null and accountName != '' " >
                and a.account_name = #{accountName}
            </if>
            <if test="isArrears != 0 and isArrears >0 " >
                and a.is_arrears = #{isArrears}
            </if>
            <if test="isOk != 0 and isOk >0 " >
                and a.is_ok = #{isOk}
            </if>
            <if test="useStatus != 0 and useStatus >0 " >
                and a.use_status = #{useStatus}
            </if>

            and a.yn =  0
        </trim>
    </sql>


    <sql id="Example_Where_Clause_Import">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="bankStrategyList != null and bankStrategyList.size()>0">
                and a.id not in
                <foreach item="item" index="index" collection="bankStrategyList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </trim>
        and a.yn =  0
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_fr_bank a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_bank a
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 查询列表-无分页-有条件/有条件 -->
    <select id="queryAllList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_bank a
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
    </select>


    <select id="queryAllListImport" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_bank a
        <include refid="Example_Where_Clause_Import"/>
        order by a.create_time desc
    </select>

    <!-- 根据id查询记录 -->
    <select id="queryById"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_bank a
        <include refid="Example_Where_Clause_id"/>
    </select>

    <!-- 根据条件查询记录 -->
    <select id="queryByCondition"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_bank a
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 添加记录 -->
    <insert id="add" parameterType="Object" >
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into tb_fr_bank
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="alias != null" >
                alias,
            </if>
            <if test="mobileCardId != null" >
                mobile_card_id,
            </if>
            <if test="bankTypeId != null" >
                bank_type_id,
            </if>

            <if test="bankName != null" >
                bank_name,
            </if>
            <if test="bankCard != null" >
                bank_card,
            </if>
            <if test="subbranchName != null" >
                subbranch_name,
            </if>
            <if test="accountName != null" >
                account_name,
            </if>
            <if test="bankCode != null" >
                bank_code,
            </if>
            <if test="province != null" >
                province,
            </if>
            <if test="city != null" >
                city,
            </if>
            <if test="smsNum != null" >
                sms_num,
            </if>
            <if test="lastNum != null" >
                last_num,
            </if>
            <if test="inDayMoney != null" >
                in_day_money,
            </if>
            <if test="inMonthMoney != null" >
                in_month_money,
            </if>
            <if test="outDayMoney != null" >
                out_day_money,
            </if>
            <if test="outMonthMoney != null" >
                out_month_money,
            </if>
            <if test="isArrears != null" >
                is_arrears,
            </if>
            <if test="checkStatus != null" >
                check_status,
            </if>
            <if test="dataExplain != null" >
                data_explain,
            </if>
            <if test="isOk != null" >
                is_ok,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="useStatus != null" >
                use_status,
            </if>
            <if test="phoneNum != null" >
                phone_num,
            </if>
            <if test="accountId != null" >
                account_id,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="alias != null" >
                #{alias,jdbcType=VARCHAR},
            </if>
            <if test="mobileCardId != null" >
                #{mobileCardId,jdbcType=BIGINT},
            </if>
            <if test="bankTypeId != null" >
                #{bankTypeId,jdbcType=BIGINT},
            </if>

            <if test="bankName != null" >
                #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="bankCard != null" >
                #{bankCard,jdbcType=VARCHAR},
            </if>
            <if test="subbranchName != null" >
                #{subbranchName,jdbcType=VARCHAR},
            </if>
            <if test="accountName != null" >
                #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="bankCode != null" >
                #{bankCode,jdbcType=VARCHAR},
            </if>
            <if test="province != null" >
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null" >
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="smsNum != null" >
                #{smsNum,jdbcType=VARCHAR},
            </if>
            <if test="lastNum != null" >
                #{lastNum,jdbcType=VARCHAR},
            </if>
            <if test="inDayMoney != null" >
                #{inDayMoney,jdbcType=VARCHAR},
            </if>
            <if test="inMonthMoney != null" >
                #{inMonthMoney,jdbcType=VARCHAR},
            </if>
            <if test="outDayMoney != null" >
                #{outDayMoney,jdbcType=VARCHAR},
            </if>
            <if test="outMonthMoney != null" >
                #{outMonthMoney,jdbcType=VARCHAR},
            </if>
            <if test="isArrears != null" >
                #{isArrears,jdbcType=CHAR},
            </if>
            <if test="checkStatus != null" >
                #{checkStatus,jdbcType=BIT},
            </if>
            <if test="dataExplain != null" >
                #{dataExplain,jdbcType=VARCHAR},
            </if>
            <if test="isOk != null" >
                #{isOk,jdbcType=BIT},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="useStatus != null" >
                #{useStatus,jdbcType=BIT},
            </if>
            <if test="phoneNum != null" >
                #{phoneNum,jdbcType=BIT},
            </if>
            <if test="accountId != null" >
                #{accountId,jdbcType=BIT},
            </if>
            <![CDATA[  NOW(), ]]>
        </trim>
    </insert>


    <!-- 更新记录 -->
    <update id="update" parameterType="Object">
        UPDATE tb_fr_bank a
        <trim prefix="set" suffixOverrides=",">
            <if test="alias != null" >
                alias = #{alias,jdbcType=VARCHAR},
            </if>
            <if test="accountId != null" >
                account_id = #{accountId,jdbcType=VARCHAR},
            </if>
            <if test="mobileCardId != null" >
                mobile_card_id = #{mobileCardId,jdbcType=BIGINT},
            </if>
            <if test="bankTypeId != null" >
                bank_type_id = #{bankTypeId,jdbcType=BIGINT},
            </if>

            <if test="bankName != null" >
                bank_name = #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="bankCard != null" >
                bank_card = #{bankCard,jdbcType=VARCHAR},
            </if>
            <if test="subbranchName != null" >
                subbranch_name = #{subbranchName,jdbcType=VARCHAR},
            </if>
            <if test="accountName != null" >
                account_name = #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="bankCode != null" >
                bank_code = #{bankCode,jdbcType=VARCHAR},
            </if>
            <if test="province != null" >
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null" >
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="smsNum != null" >
                sms_num = #{smsNum,jdbcType=VARCHAR},
            </if>
            <if test="lastNum != null" >
                last_num = #{lastNum,jdbcType=VARCHAR},
            </if>
            <if test="inDayMoney != null" >
                in_day_money = #{inDayMoney,jdbcType=VARCHAR},
            </if>
            <if test="inMonthMoney != null" >
                in_month_money = #{inMonthMoney,jdbcType=VARCHAR},
            </if>
            <if test="outDayMoney != null" >
                out_day_money = #{outDayMoney,jdbcType=VARCHAR},
            </if>
            <if test="outMonthMoney != null" >
                out_month_money = #{outMonthMoney,jdbcType=VARCHAR},
            </if>
            <if test="isArrears != null" >
                is_arrears = #{isArrears,jdbcType=CHAR},
            </if>
            <if test="checkStatus != null" >
                check_status = #{checkStatus,jdbcType=BIT},
            </if>
            <if test="dataExplain != null" >
                data_explain = #{dataExplain,jdbcType=VARCHAR},
            </if>
            <if test="isOk != null" >
                is_ok = #{isOk,jdbcType=BIT},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="useStatus != null" >
                use_status = #{useStatus,jdbcType=BIT},
            </if>
            <if test="phoneNum != null" >
                phone_num = #{phoneNum,jdbcType=BIT},
            </if>
            a.update_time = NOW(),
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>


    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_fr_bank a
        <trim prefix="set" suffixOverrides=",">
            <if test="isEnable != 0 and isEnable >0 " >
                a.is_enable=#{isEnable},
            </if>
            a.yn=#{yn},
            a.update_time=NOW()
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>

    <!--逻辑删除数据 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE tb_fr_bank a set a.yn = 1,
        a.update_time = now()
        where 1=1
        and a.id =#{id}
        and a.yn=0
    </update>




</mapper>