<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.manager.dao.ChannelBankDao">
    <!-- 属性映射 -->
    <resultMap id="dataMap" type="com.xn.manager.model.ChannelBankModel" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="alias" property="alias" jdbcType="VARCHAR" />
        <result column="channel_id" property="channelId" jdbcType="BIGINT" />
        <result column="bank_id" property="bankId" jdbcType="BIGINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="use_status" property="useStatus" jdbcType="BIT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="ts_time" property="tsTime" jdbcType="TIMESTAMP" />
        <result column="yn" property="yn" jdbcType="BIT" />
        <result column="bank_card" property="bankCard" jdbcType="BIT" />
    </resultMap>
    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
         a.id, a.alias
    <!-- a.use_status, a.create_time, a.update_time, a.ts_time, a.yn-->

</sql>

<!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            <if test="channelId != null and channelId != '' " >
                and a.channel_id = #{channelId}
            </if>
            <if test="bankId != null and bankId != '' " >
                and a.bank_id = #{bankId}
            </if>
            <if test="useStatus != 0 and useStatus > 0 " >
                and a.use_status = #{useStatus}
            </if>
            and a.yn =  0
        </trim>
    </sql>





    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(distinct a.id)
        from tb_fr_channel_bank a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_channel_bank a
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 查询列表-无分页-有条件/有条件 -->
    <select id="queryAllList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_channel_bank a
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
    </select>


    <!-- 根据id查询记录 -->
    <select id="queryById"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_channel_bank a
        <include refid="Example_Where_Clause_id"/>
    </select>

    <!-- 根据条件查询记录 -->
    <select id="queryByCondition"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_channel_bank a
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 添加记录 -->
    <insert id="add" parameterType="Object" >
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into tb_fr_channel_bank
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="alias != null" >
                alias,
            </if>
            <if test="channelId != null" >
                channel_id,
            </if>
            <if test="bankId != null" >
                bank_id,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="useStatus != null" >
                use_status,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="alias != null" >
                #{alias,jdbcType=VARCHAR},
            </if>
            <if test="channelId != null" >
                #{channelId,jdbcType=BIGINT},
            </if>
            <if test="bankId != null" >
                #{bankId,jdbcType=BIGINT},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="useStatus != null" >
                #{useStatus,jdbcType=BIT},
            </if>
            <![CDATA[  NOW(), ]]>
        </trim>
    </insert>


    <!-- 更新记录 -->
    <update id="update" parameterType="Object">
        UPDATE tb_fr_channel_bank a
        <trim prefix="set" suffixOverrides=",">
            <if test="alias != null" >
                alias = #{alias,jdbcType=VARCHAR},
            </if>
            <if test="channelId != null" >
                channel_id = #{channelId,jdbcType=BIGINT},
            </if>
            <if test="bankId != null" >
                bank_id = #{bankId,jdbcType=BIGINT},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="useStatus != null" >
                use_status = #{useStatus,jdbcType=BIT},
            </if>
            a.update_time = NOW(),
        </trim>
        where  a.id=#{id}
    </update>


    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_fr_channel_bank a
        <trim prefix="set" suffixOverrides=",">
            <if test="useStatus != 0 and useStatus >0 " >
                a.use_status=#{useStatus},
            </if>
            a.yn=#{yn},
            a.update_time=NOW()
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>

    <!--逻辑删除数据 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE tb_fr_channel_bank a set a.yn = 1,
        a.update_time = now()
        where 1=1
        and a.id =#{id}
        and a.yn=0
    </update>



    <!-- 通过id 查询那些银行卡 -->
    <select id="byIdQueryBank" resultMap="dataMap"  parameterType="java.lang.Long">
        select distinct a.bank_id
        from tb_fr_channel_bank a
       where  a.id=#{id}
    </select>


    <sql id="Example_Where_Clause_BankId">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="bankIdList != null and bankIdList.size()>0">
                and a.id  in
                <foreach item="item" index="index" collection="bankIdList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </trim>
        and a.yn =  0
    </sql>


    <!-- 通过id 查询那些银行卡 -->
    <select id="byBankIdQueryBankCard" resultMap="dataMap"  parameterType="Object">
        select
        a.bank_card
        from tb_fr_bank a
        <include refid="Example_Where_Clause_BankId"/>
    </select>

</mapper>