<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.manager.dao.OrderDao">
    <!-- 属性映射 -->
    <resultMap id="dataMap" type="com.xn.manager.model.OrderModel" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="bank_id" property="bankId" jdbcType="BIGINT" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="order_type" property="orderType" jdbcType="BIT" />
        <result column="order_money" property="orderMoney" jdbcType="VARCHAR" />
        <result column="qr_code" property="qrCode" jdbcType="VARCHAR" />
        <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
        <result column="order_status" property="orderStatus" jdbcType="BIT" />
        <result column="invalid_time" property="invalidTime" jdbcType="TIMESTAMP" />
        <result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
        <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
        <result column="bank_card" property="bankCard" jdbcType="VARCHAR" />
        <result column="subbranch_name" property="subbranchName" jdbcType="VARCHAR" />
        <result column="account_name" property="accountName" jdbcType="VARCHAR" />
        <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
        <result column="mobile_card_id" property="mobileCardId" jdbcType="BIGINT" />
        <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
        <result column="account_id" property="accountId" jdbcType="BIGINT" />
        <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
        <result column="channel_id" property="channelId" jdbcType="BIGINT" />
        <result column="channel_name" property="channelName" jdbcType="VARCHAR" />
        <result column="replenish_type" property="replenishType" jdbcType="BIT" />
        <result column="work_type" property="workType" jdbcType="BIT" />
        <result column="data_explain" property="dataExplain" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="curday" property="curday" jdbcType="INTEGER" />
        <result column="curhour" property="curhour" jdbcType="BIT" />
        <result column="curminute" property="curminute" jdbcType="BIT" />
        <result column="run_num" property="runNum" jdbcType="BIT" />
        <result column="run_status" property="runStatus" jdbcType="BIT" />
        <result column="send_num" property="sendNum" jdbcType="BIT" />
        <result column="send_status" property="sendStatus" jdbcType="BIT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="ts_time" property="tsTime" jdbcType="TIMESTAMP" />
        <result column="yn" property="yn" jdbcType="BIT" />
    </resultMap>
    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id, a.bank_id, a.order_no, a.order_type, a.order_money, a.qr_code, a.out_trade_no, a.order_status,
        a.invalid_time, a.notify_url, a.bank_name, a.bank_card, a.subbranch_name, a.account_name, a.bank_code,
        a.mobile_card_id, a.phone_num, a.account_id, a.merchant_name, a.channel_id, a.channel_name, a.replenish_type,
        a.work_type, a.data_explain, a.remark, a.curday, a.curhour, a.curminute, a.run_num, a.run_status,
        a.send_num, a.send_status, a.create_time, a.update_time, a.ts_time, a.yn
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                and a.out_trade_no = #{outTradeNo}
            </if>
            <if test="orderNo != null and orderNo != '' " >
                and a.order_no = #{orderNo}
            </if>
            <if test="bankName != null and bankName != '' " >
                and a.bank_name = #{bankName}
            </if>
            <if test="bankCard != null and bankCard != '' " >
                and a.bank_card = #{bankCard}
            </if>
            <if test="accountName != null and accountName != '' " >
                and a.account_name = #{accountName}
            </if>
            <if test="merchantName != null and merchantName != '' " >
                and a.merchant_name = #{merchantName}
            </if>
            <if test="orderType != 0 and orderType >0 " >
                and a.order_type = #{orderType}
            </if>

            <if test="replenishType != 0 and replenishType >0 " >
                and a.replenish_type = #{replenishType}
            </if>

            <if test="workType != 0 and workType >0 " >
                and a.work_type = #{workType}
            </if>

            <if test="beginCurday != 0 and beginCurday >0 " >
                and a.curday  &gt;= #{beginCurday}
            </if>

            <if test="endCurday != 0 and endCurday >0 " >
                and a.curday &lt;= #{endCurday}
            </if>
            and a.yn =  0
        </trim>
    </sql>





    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_fr_order a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_order a
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 查询列表-无分页-有条件/有条件 -->
    <select id="queryAllList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_order a
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
    </select>


    <!-- 根据id查询记录 -->
    <select id="queryById"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_order a
        <include refid="Example_Where_Clause_id"/>
    </select>

    <!-- 根据条件查询记录 -->
    <select id="queryByCondition"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_order a
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 添加记录 -->
    <insert id="add" parameterType="Object" >
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into tb_fr_order
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="bankId != null" >
                bank_id,
            </if>
            <if test="orderNo != null" >
                order_no,
            </if>
            <if test="orderType != null" >
                order_type,
            </if>
            <if test="orderMoney != null" >
                order_money,
            </if>
            <if test="qrCode != null" >
                qr_code,
            </if>
            <if test="outTradeNo != null" >
                out_trade_no,
            </if>
            <if test="orderStatus != null" >
                order_status,
            </if>
            <if test="invalidTime != null" >
                invalid_time,
            </if>
            <if test="notifyUrl != null" >
                notify_url,
            </if>
            <if test="bankName != null" >
                bank_name,
            </if>
            <if test="bankCard != null" >
                bank_card,
            </if>
            <if test="subbranchName != null" >
                subbranch_name,
            </if>
            <if test="accountName != null" >
                account_name,
            </if>
            <if test="bankCode != null" >
                bank_code,
            </if>
            <if test="mobileCardId != null" >
                mobile_card_id,
            </if>
            <if test="phoneNum != null" >
                phone_num,
            </if>
            <if test="accountId != null" >
                account_id,
            </if>
            <if test="merchantName != null" >
                merchant_name,
            </if>
            <if test="channelId != null" >
                channel_id,
            </if>
            <if test="channelName != null" >
                channel_name,
            </if>
            <if test="replenishType != null" >
                replenish_type,
            </if>
            <if test="workType != null" >
                work_type,
            </if>
            <if test="dataExplain != null" >
                data_explain,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="curday != null" >
                curday,
            </if>
            <if test="curhour != null" >
                curhour,
            </if>
            <if test="curminute != null" >
                curminute,
            </if>
            <if test="runNum != null" >
                run_num,
            </if>
            <if test="runStatus != null" >
                run_status,
            </if>
            <if test="sendNum != null" >
                send_num,
            </if>
            <if test="sendStatus != null" >
                send_status,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="bankId != null" >
                #{bankId,jdbcType=BIGINT},
            </if>
            <if test="orderNo != null" >
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null" >
                #{orderType,jdbcType=BIT},
            </if>
            <if test="orderMoney != null" >
                #{orderMoney,jdbcType=VARCHAR},
            </if>
            <if test="qrCode != null" >
                #{qrCode,jdbcType=VARCHAR},
            </if>
            <if test="outTradeNo != null" >
                #{outTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null" >
                #{orderStatus,jdbcType=BIT},
            </if>
            <if test="invalidTime != null" >
                #{invalidTime,jdbcType=TIMESTAMP},
            </if>
            <if test="notifyUrl != null" >
                #{notifyUrl,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null" >
                #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="bankCard != null" >
                #{bankCard,jdbcType=VARCHAR},
            </if>
            <if test="subbranchName != null" >
                #{subbranchName,jdbcType=VARCHAR},
            </if>
            <if test="accountName != null" >
                #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="bankCode != null" >
                #{bankCode,jdbcType=VARCHAR},
            </if>
            <if test="mobileCardId != null" >
                #{mobileCardId,jdbcType=BIGINT},
            </if>
            <if test="phoneNum != null" >
                #{phoneNum,jdbcType=VARCHAR},
            </if>
            <if test="accountId != null" >
                #{accountId,jdbcType=BIGINT},
            </if>
            <if test="merchantName != null" >
                #{merchantName,jdbcType=VARCHAR},
            </if>
            <if test="channelId != null" >
                #{channelId,jdbcType=BIGINT},
            </if>
            <if test="channelName != null" >
                #{channelName,jdbcType=VARCHAR},
            </if>
            <if test="replenishType != null" >
                #{replenishType,jdbcType=BIT},
            </if>
            <if test="workType != null" >
                #{workType,jdbcType=BIT},
            </if>
            <if test="dataExplain != null" >
                #{dataExplain,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="curday != null" >
                #{curday,jdbcType=INTEGER},
            </if>
            <if test="curhour != null" >
                #{curhour,jdbcType=BIT},
            </if>
            <if test="curminute != null" >
                #{curminute,jdbcType=BIT},
            </if>
            <if test="runNum != null" >
                #{runNum,jdbcType=BIT},
            </if>
            <if test="runStatus != null" >
                #{runStatus,jdbcType=BIT},
            </if>
            <if test="sendNum != null" >
                #{sendNum,jdbcType=BIT},
            </if>
            <if test="sendStatus != null" >
                #{sendStatus,jdbcType=BIT},
            </if>
            <![CDATA[  NOW(), ]]>
        </trim>
    </insert>


    <!-- 更新记录 -->
    <update id="update" parameterType="Object">
        UPDATE tb_fr_order a
        <trim prefix="set" suffixOverrides=",">
            <if test="bankId != null" >
                bank_id = #{bankId,jdbcType=BIGINT},
            </if>
            <if test="orderNo != null" >
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null" >
                order_type = #{orderType,jdbcType=BIT},
            </if>
            <if test="orderMoney != null" >
                order_money = #{orderMoney,jdbcType=VARCHAR},
            </if>
            <if test="qrCode != null" >
                qr_code = #{qrCode,jdbcType=VARCHAR},
            </if>
            <if test="outTradeNo != null" >
                out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null" >
                order_status = #{orderStatus,jdbcType=BIT},
            </if>
            <if test="invalidTime != null" >
                invalid_time = #{invalidTime,jdbcType=TIMESTAMP},
            </if>
            <if test="notifyUrl != null" >
                notify_url = #{notifyUrl,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null" >
                bank_name = #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="bankCard != null" >
                bank_card = #{bankCard,jdbcType=VARCHAR},
            </if>
            <if test="subbranchName != null" >
                subbranch_name = #{subbranchName,jdbcType=VARCHAR},
            </if>
            <if test="accountName != null" >
                account_name = #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="bankCode != null" >
                bank_code = #{bankCode,jdbcType=VARCHAR},
            </if>
            <if test="mobileCardId != null" >
                mobile_card_id = #{mobileCardId,jdbcType=BIGINT},
            </if>
            <if test="phoneNum != null" >
                phone_num = #{phoneNum,jdbcType=VARCHAR},
            </if>
            <if test="accountId != null" >
                account_id = #{accountId,jdbcType=BIGINT},
            </if>
            <if test="merchantName != null" >
                merchant_name = #{merchantName,jdbcType=VARCHAR},
            </if>
            <if test="channelId != null" >
                channel_id = #{channelId,jdbcType=BIGINT},
            </if>
            <if test="channelName != null" >
                channel_name = #{channelName,jdbcType=VARCHAR},
            </if>
            <if test="replenishType != null" >
                replenish_type = #{replenishType,jdbcType=BIT},
            </if>
            <if test="workType != null" >
                work_type = #{workType,jdbcType=BIT},
            </if>
            <if test="dataExplain != null" >
                data_explain = #{dataExplain,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="curday != null" >
                curday = #{curday,jdbcType=INTEGER},
            </if>
            <if test="curhour != null" >
                curhour = #{curhour,jdbcType=BIT},
            </if>
            <if test="curminute != null" >
                curminute = #{curminute,jdbcType=BIT},
            </if>
            <if test="runNum != null" >
                run_num = #{runNum,jdbcType=BIT},
            </if>
            <if test="runStatus != null" >
                run_status = #{runStatus,jdbcType=BIT},
            </if>
            <if test="sendNum != null" >
                send_num = #{sendNum,jdbcType=BIT},
            </if>
            <if test="sendStatus != null" >
                send_status = #{sendStatus,jdbcType=BIT},
            </if>
            a.update_time = NOW(),
        </trim>
        where  a.id=#{id}
    </update>


    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_fr_order a
        <trim prefix="set" suffixOverrides=",">
            <if test="useStatus != 0 and useStatus >0 " >
                a.use_status=#{useStatus},
            </if>
            a.yn=#{yn},
            a.update_time=NOW()
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>

    <!--逻辑删除数据 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE tb_fr_order a set a.yn = 1,
        a.update_time = now()
        where 1=1
        and a.id =#{id}
        and a.yn=0
    </update>

</mapper>